.pronamic_sections_order_existing_list {
    display: block;
}

    .pronamic_section_buttons {
        display: block;
        margin-top: 10px;
        
        *zoom: 1;
    }
    
    .pronamic_section_buttons:before,
    .pronamic_section_buttons:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }

    .pronamic_section_buttons:after {
        clear: both;
    }
    
        .pronamic_section_move_up_button,
        .pronamic_section_move_down_button,
        .pronamic_section_remove_button {
            display: block;
            float: left;
            padding: 4px 8px;
            
            background: #fff;
            border: 1px solid #eee;
            cursor: pointer;
        }
    
        .pronamic_section_move_up_button {
            background: #46b1f5;
            color: #fff;
        }

        .pronamic_section_move_down_button {
            margin-left: 2px;
            
            background: #46b1f5;
            color: #fff;
        }

        .pronamic_section_remove_button {
            margin-left: 10px;
            
            background: #f54646;
            color: #fff;
        }
        
        
.pronamic_sections_editor_holder {
    
}

    .pronamic_sections_title {
        cursor: pointer !important;
    }
    
    .pronamic_sections_handle {
        height:42px !important;
    }

    .pronamic_section_holder {
    }
    
    .pronamic_section_editor {
        background: #fff;
    }
    
.pronamic_sections_add_holder {
    margin-bottom: 10px;
}
    
.pronamic_section_notification {
    display: block;
    margin-bottom: 10px;
    padding: 4px;
    
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 5px;
}